#add-product {
	position: absolute;
	width: 25%;
	right: 50px;
	top: 100px;
	background: rgba(244,244,244,0.5);
	box-shadow: 2px 4px 8px #000;
}
#add-product > form {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
input[type='button'] {
	margin-top: 10px;
	background: #000;
	border: none;
	color: #fff;
}
input[type='button']:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.5);
}
label,
input {
	padding: 10px;
}
textarea {
	height: 80px;
	padding: 10px;
}