#registration_form {
    width: 50%;
    margin: 0 auto;
    background: #d0d0d0;
    display: flex;
    flex-direction: column;
}
#registration_form > input {
    margin: 10px 20px;
    padding: 15px 20px;
}