@import 'add_product.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#header {
	position: fixed;
	z-index: 1;
	top: 0;
	height: 30px;
	width: 100%;
	background: #555;
}

main {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	margin: 20px auto;
	width: 100%;
}
#profile-section {
	position: relative;
	left: 0;
	top: 25px;
	width: 20%;	
	background: #f4f4f4;
}
#profile-section .container {
	position: fixed;
	height: 100%;
	width: 20%; 
	display: flex;
	flex-direction: column;
	
}
.profile-contacts {
	border-bottom: 1px #111 solid;
}
.profile-contacts p {
	padding: 8px 12px; 
}
#profile-nav {
	display: flex;
	flex-direction: column; 
	width: 80%;
	margin: 18px auto;
}
#profile-nav a {
	text-decoration: none; 
	padding: 12px 8px; 
	text-transform: capitalize;
	color: #033497;	
}
#profile-nav a:hover {
	background: #555;
	color: #fff;
}

#list-products {
	width: 50%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, auto);
	grid-gap: 5px;
}
[product-category] {
	padding: 16px; 

}
[product-category] h2 {
	padding: 10px 15px;
}
.product-info {
	display: flex;
	flex-direction: column;
	padding: 20px;
	background: #f4f4f4;
	margin: 10px 0;
}
#product-name{
	font-weight: bold;
	text-transform: uppercase;
}
.product-info * {
	padding: 5px 10px;
}
.product-info .edit-product,
.product-info .delete-product {
	padding: 2px 10px;
	width: 10%;
}